.messages__box1
  .messages__box1__name-time
    .messages__box1__name-time__name
      = message.user.name
    .messages__box1__name-time__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messages__box1__message
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?
